<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %} | ЁPR 2.0{% endblock %}</title>

        {% block vendor_stylesheets %}
            <!-- Bootstrap -->
            <link href="{{ asset('gentelella/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="{{ asset('gentelella/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!-- NProgress -->
            <link href="{{ asset('gentelella/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        {% endblock %}
        {% block custom_stylesheets %}

            <!-- Custom Theme Style -->
            <link href="{{ asset('gentelella/build/css/custom.min.css') }}" rel="stylesheet">

            <link href="{{ asset('css/helpers.css') }}" rel="stylesheet">
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block body_class %}class="nav-md"{% endblock %}>

        {% block body %}{% endblock %}

        {% block vendor_javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('gentelella/vendors/jquery/dist/jquery.min.js') }}"></script>
            <!-- Bootstrap -->
            <script src="{{ asset('gentelella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <!-- FastClick -->
            <script src="{{ asset('gentelella/vendors/fastclick/lib/fastclick.js') }}"></script>
            <!-- NProgress -->
            <script src="{{ asset('gentelella/vendors/nprogress/nprogress.js') }}"></script>

        {% endblock %}
        {% block custom_javascripts %}

            <!-- Custom Theme Scripts -->
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
