{% extends 'main.layout.html.twig' %}

{# import "_self" as the form theme #}
{% form_theme form _self %}

{% block common_label %}
    <label class="control-label {% if required %}required{% endif %}" for="{{ id }}">
        {{ label }}{% if required %} <span class="required">*</span>{% endif %}
    </label>
{% endblock %}

{% block text_label %}{{ block('common_label') }}{% endblock %}
{% block textarea_label %}{{ block('common_label') }}{% endblock %}
{% block number_label %}{{ block('common_label') }}{% endblock %}
{% block entity_label %}{{ block('common_label') }}{% endblock %}

{% block collection_label %}
    <h4 class="m-t-20">{{ label }}</h4>
{% endblock %}

{% block collection_widget %}
    <div id="{{ id }}" class="m-l-20 m-b-20">
        {% for item in form %}
            {{ form_widget(item) }}
        {% endfor %}
    </div>
{% endblock %}


{% block title %}Новый документ{{ parent() }}{% endblock %}
{% block header %}Новый документ{% endblock %}
{% block vendor_stylesheets %}
    {{ parent() }}
{% endblock %}
{% block vendor_javascripts %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb" style="margin: 0; padding: 0;">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ path('finance_exp_list') }}">Экспорт товаров</a></li>
            <li class="breadcrumb-item active">Новый документ</li>
        </ol>
    </div>
{% endblock %}
{% block title_right %}{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    {% block x_title %}{% endblock %}

                    <div class="x_content">

                        <!-- CONTENT DOC -->
                        <div class=" ">
                            <div class="epr-doc-list-body">
                                <div class="">

                                    {#{% form_theme form 'form/fields.html.twig' %}#}

                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}

                                    <input type="submit" class="btn btn-default" />
                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                        <!-- /CONTENT DOC -->

                    </div>
                </div>

            </div>

        </div>


        <div class="clearfix"></div>
    {% endblock %}

