<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <th style="width:20%">Предмет договора:</th>
            <td>Поставка вакцины против ящура в Саудовскую Аравию</td>
        </tr>
        <tr>
            <th>Условия поставки Инкотермс:</th>
            <td>FCA — товар доставляется основному перевозчику заказчика к указанному в договоре терминалу отправления, экспортные пошлины уплачивает продавец</td>
        </tr>
        <tr>
            <th>Срок и порядок поставки</th>
            <td>Отгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплаты Отгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплаты Отгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления<br>

                предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплаты</td>
        </tr>
        <tr>
            <th>Информация о контрагенте:</th>
            <td>
                ИНН: 190203921<br>
                Наименование лица: ООО «МЕРКУРИЙ УНИВЕРСАЛ»
            </td>
        </tr>
        <tr>
            <th>Цена договора:</th>
            <td>1 608 905.00 рублей РФ</td>
        </tr>

        </tbody>
    </table>
</div>