{% extends 'main.layout.html.twig' %}

{% block title %}Список документов{{ parent() }}{% endblock %}
{% block header %}Список документов{% endblock %}
{% block vendor_stylesheets %}
    {{ parent() }}
{% endblock %}
{% block vendor_javascripts %}
    {{ parent() }}
{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    {% block x_title %}{% endblock %}

                    <div class="x_content">

                        <!-- CONTENT DOC -->
                        <div class=" ">
                            <div class="epr-doc-list-body">

                                <div class="">
                                    <a href="{{ path('finance_exp_create_doc') }}" class="btn btn-danger">Новый документ</a>
                                </div>
                                <div class="">

                                    {% block list_pagination %}
                                        {% include '::pagination.html.twig'  %}
                                    {% endblock %}


                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Наименование</th>
                                            <th>Дата</th>
                                            <th>Версия</th>
                                            <th>Инициатор</th>
                                            <th>Статус</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% for doc in iterator %}

                                            <tr>
                                                <td>{{ doc.id }}</td>
                                                <td><a href="{{ path(viewPath, {id: doc.id}) }}">{{ doc.name }}</a></td>
                                                <td>{{ doc.createdAt|date('d.m.y') }}</td>
                                                <td>3</td>
                                                <td>

                                                    {% if doc.financeInitiator %}
                                                        <span><strong>Инициатор:</strong> {{ doc.financeInitiator.user.shortName }}</span><br>
                                                    {% endif %}
                                                    {% if doc.financeHeadDepart %}
                                                        <span><strong>Руководитель и/п:</strong> {{ doc.financeHeadDepart.user.shortName }}</span><br>
                                                    {% endif %}
                                                    {% if doc.financeCurator %}
                                                        <span><strong>Куратор:</strong> {{ doc.financeCurator.user.shortName }}</span><br>
                                                    {% endif %}


                                                    {#{% if doc.financeInitiator|length < 2 %}#}
                                                        {#{% for sign in doc.financeInitiator|usort %}#}
                                                            {#<span>{{ sign.user.name }} {% if sign.updated is not null  %}({{ sign.updated|date('d.m.y') }}){% endif %}</span><br>#}
                                                        {#{% else %}#}
                                                            {#<span>не указано</span><br>#}
                                                        {#{% endfor %}#}
                                                    {#{% else %}#}
                                                        {#{% for sign in doc.financeInitiator|slice(0, 1)|usort %}#}
                                                            {#<span>{{ sign.user.name }} {% if sign.updated is not null  %}({{ sign.updated|date('d.m.y') }}){% endif %}</span><br>#}
                                                        {#{% endfor %}#}


                                                        {#<a href="#"#}
                                                           {#data-action="{{ path('finance_exp_view_signers_list', {docId: doc.id, statusId: 4, roleId: 4}) }}"#}
                                                           {#data-toggle="modal"#}
                                                           {#data-title="Роль: "#}
                                                           {#data-target="#modalReadOnly"#}
                                                        {#>ещё +{{ doc.financeInitiator|length - 2 }}</a>#}

                                                    {#{% endif %}#}


                                                </td>
                                                <td>{{ doc.status.title }} с {{ doc.statusUpdatedAt|date('d.m.y') }}</td>
                                            </tr>

                                        {% else %}
                                            <td colspan="8" class="text-center">
                                                {% if searchQuery %}
                                                    Документы не найдены.
                                                {% else %}
                                                    Документы отсутствуют.
                                                {% endif %}
                                            </td>
                                        {% endfor %}

                                        </tbody>
                                    </table>


                                    {#<div class="table-responsive">#}

                                        {#<table class="table">#}
                                            {#<tbody>#}
                                            {#{% block doc_text_content %}{% endblock %}#}
                                            {#</tbody>#}
                                        {#</table>#}
                                    {#</div>#}

                                </div>


                            </div>

                        </div>
                        <!-- /CONTENT DOC -->

                    </div>
                </div>

            </div>

        </div>


        <div class="clearfix"></div>
    {% endblock %}

