{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="{{ path('index') }}" class="site_title"><i class="fa fa-paper-plane"></i>
                            <span>ЁPR 2.0</span></a>
                    </div>

                    <div class="clearfix"></div>


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="/gentelella/production/images/img.jpg" alt="..."
                                     class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Основной режим </span>
                                <h2>#{{ app.user.id }} - {{ app.user.username }}</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                    {% else %}
                        {#<a href="{{ path('login') }}">#}
                        {#LOGIN#}
                        {#</a>#}
                    {% endif %}


                    <br/>

                    {{ include('sidebar.menu.html.twig') }}

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a href="javascript:void(0);"
                           data-action="{{ path('bookmarks') }}"
                           data-toggle="modal"
                           data-title="Закладки"
                           data-target=".bs-example-modal-lg"
                        >
                            <span data-toggle="tooltip" data-placement="top" title="Закладки"
                                  class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <span data-toggle="tooltip" data-placement="top" title="Задачи"
                                  class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <span data-toggle="tooltip" data-placement="top" title="Файлы"
                                  class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>

                        <a href="javascript:void(0)"
                           data-action="{{ path('contacts_list') }}"
                           data-toggle="modal"
                           data-title="Телефонный справочник"
                           data-target=".bs-example-modal-lg"
                        >
                            <span data-toggle="tooltip" data-placement="top" title="Телефон"
                                  class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            {{ include('top.navigation.html.twig') }}

            {% block content %}
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="epr-rc-wraper">
                        {% block breadcrumb %}
                            <div class="">
                                <ol class="breadcrumb" style="margin: 0; padding: 0;">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="fa fa-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Экспорт товаров</a></li>
                                    <li class="breadcrumb-item active">Список документов</li>
                                </ol>
                            </div>
                        {% endblock %}
                        <div class="clearfix"></div>

                        {% block page_title %}
                            <div class="page-title">
                                <div class="title_left">
                                    <h3>{% block header %}{% endblock %}</h3>
                                </div>
                                {% block title_right %}
                                    <div class="title_right">
                                        <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                                            <form method="get" action="">
                                                <div class="input-group">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Поиск по наименованию документа..."
                                                           name="{{ searchKey }}"
                                                           value="{{ searchQuery }}">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="submit">Найти</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        <div class="clearfix"></div>

                        {% block page_content %}{% endblock %}

                    </div>
                </div>
                <!-- /page content -->
            {% endblock %}

            {% block footer %}
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        <a href="{{ path('index') }}">СЭД ЁPR 2.0</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            {% endblock %}

            {% block modals %}
                <!-- modals -->

                {% include '::modals.html.twig' with {modals: {
                    modalReadOnly: {'buttons': [ 'close' ]},
                    modalSubmit: {'buttons': [ 'close', 'save' ]}
                }} %}

                <!-- /modals -->
            {% endblock %}

        </div>
    </div>

{% endblock %}
