{% for key, modal in modals %}
    <div class="modal fade" id="{{ key }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="epr-preloader-wrapper">
                        <div class="preloader">
                            <div class="spinner-layer pl-teal">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="epr-modal-wrapper"></div>
                </div>
                {%  if modal.buttons is defined and modal.buttons|length %}
                    <div class="modal-footer">

                        {% for button in modal.buttons %}
                            {%  if button == 'save' %}
                                <button type="button" class="btn btn-primary epr-submit-button">Сохранить</button>
                            {% elseif button == 'close' %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endfor %}


