{% if maxPages > 1 %}
    <ul class="pagination pagination-sm">
        {# `«` arrow  #}
        <li {{ thisPage == 1 ? 'class="disabled"' }}>
            <a href="{{ path(pagePath, {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
        </li>

        {% if maxPages > 10 %}

            {% if thisPage < 5 %}

                {# Render each page number #}
                {% for i in 1..5 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path(pagePath, {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <li>
                    <span>...</span>
                </li>

                <li>
                    <a href="{{ path(pagePath, {page: maxPages}) }}">{{ maxPages }}</a>
                </li>

            {% elseif thisPage > maxPages-5 %}

                <li>
                    <a href="{{ path(pagePath, {page: 1}) }}">{{ 1 }}</a>
                </li>

                <li>
                    <span>...</span>
                </li>

                {# Render each page number #}
                {% for i in maxPages-5..maxPages %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path(pagePath, {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

            {% else %}

                <li>
                    <a href="{{ path(pagePath, {page: 1}) }}">{{ 1 }}</a>
                </li>

                <li>
                    <span>...</span>
                </li>

                {# Render each page number #}
                {% for i in thisPage-3..thisPage+3 %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path(pagePath, {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <li>
                    <span>...</span>
                </li>

                <li>
                    <a href="{{ path(pagePath, {page: maxPages}) }}">{{ maxPages }}</a>
                </li>

            {% endif %}

        {% else %}

            {#Render each page number #}
            {% for i in 1..maxPages %}
                <li {{ thisPage == i ? 'class="active"' }}>
                    <a href="{{ path(pagePath, {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

        {% endif %}

        {# `»` arrow #}
        <li>
            <a href="{{ path(pagePath, {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
{% endif %}