<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">


        <h3>Модули</h3>
        <ul class="nav side-menu">
            <li class="pl-blue"><a><i class="fa fa-book"></i> Канцелярия <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li ><a href="#">
                            <span class="epr-sidebar-submenu-title">Приказы и распоряжения</span>
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#">Создать документ</a>
                            </li>
                            <li class="sub_menu">
                                <a href="#">Список документов</a>
                            </li>
                            <li><a>Справочники<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#level2_1">Значение суммы для крупных сделок</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a>Отчеты<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#level2_1">Об определении поставщиков (бухгалтерия)</a>
                                    </li>
                                    <li class="sub_menu">
                                        <a href="level2.html">Об определении поставщиков (44 ФЗ)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li ><a href="chartjs2.html">Поручения руководителя</a></li>
                    <li ><a href="morisjs.html">Входящая документация</a></li>
                    <li ><a href="echarts.html">Служебные записки</a></li>
                    <li ><a>Реестр договоров<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#level2_1">Создать документ</a>
                            </li>
                            <li class="sub_menu">
                                <a href="level2.html">Список документов</a>
                            </li>
                            <li><a>Справочники<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#level2_1">Значение суммы для крупных сделок</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a>Отчеты<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#level2_1">Об определении поставщиков (бухгалтерия)</a>
                                    </li>
                                    <li class="sub_menu">
                                        <a href="level2.html">Об определении поставщиков (44 ФЗ)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=""><a><i class="fa fa-terminal"></i> Информатизация <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="general_elements.html">ИТ</a></li>
                    <li><a href="media_gallery.html">Багтрекер</a></li>
                    <li><a href="typography.html">Редактор модулей</a></li>
                    <li><a href="icons.html">Статистика пользователей</a></li>
                </ul>
            </li>
            <li class=""><a><i class="fa fa-flask"></i> Исследования <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="general_elements.html">Патматериалы</a></li>
                </ul>
            </li>
            <li class="pl-deep-orange"><a><i class="fa fa-lock"></i> Безопасность <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Интеграция с Орион</a></li>
                    <li><a href="tables_dynamic.html">Пропуски(а)</a></li>
                </ul>
            </li>
            <li class="pl-deep-orange"><a><i class="fa fa-gavel"></i> Юриспруденция <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Интеграция с Орион</a></li>
                    <li><a href="tables_dynamic.html">Пропуски(а)</a></li>
                </ul>
            </li>
            <li class="pl-light-green"><a><i class="fa fa-calculator"></i> Финансы <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="chartjs.html">Закупка товаров, работ и услуг</a></li>
                    <li><a href="chartjs2.html">Экспорт товаров</a></li>
                    <li><a href="morisjs.html">Заявление на платеж</a></li>
                    <li><a href="echarts.html">Возврат обеспечения</a></li>
                    <li><a>Реестр договоров<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#level2_1">Создать документ</a>
                            </li>
                            <li class="sub_menu">
                                <a href="level2.html">Список документов</a>
                            </li>
                            <li>
                                <a href="#level2_1">Постоянный помощник исполнителя служебной записки</a>
                            </li>
                            <li><a>Справочники<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#level2_1">Значение суммы для крупных сделок</a>
                                    </li>
                                    <li class="sub_menu">
                                        <a href="level2.html">Постоянный помощник исполнителя служебной записки</a>
                                    </li>
                                    <li>
                                        <a href="#level2_2">Level Two</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a>Отчеты<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#level2_1">Об определении поставщиков (бухгалтерия)</a>
                                    </li>
                                    <li class="sub_menu">
                                        <a href="level2.html">Об определении поставщиков (44 ФЗ)</a>
                                    </li>
                                    <li>
                                        <a href="#level2_2">Об определении поставщиков (44 ФЗ)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Информация</h3>
        <ul class="nav side-menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-share-alt"></i> Общие файлы
                </a>
            </li>
            <li><a><i class="fa fa-desktop"></i> Форум </a> </li>
            <li><a><i class="fa fa-info-circle"></i> Справочник </a>  </li>

        </ul>
    </div>
    <div class="menu_section">
        <h3>Администрирование</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Журнал ошибок <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="e_commerce.html">E-commerce</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="project_detail.html">Project Detail</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-windows"></i> Редактор модулей <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="page_403.html">403 Error</a></li>
                    <li><a href="page_404.html">404 Error</a></li>
                    <li><a href="page_500.html">500 Error</a></li>
                    <li><a href="plain_page.html">Plain Page</a></li>
                    <li><a href="login.html">Login Page</a></li>
                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Иерархия <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Level One</a>
                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#level1_2">Level One</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-bug"></i> Помощь <span class="label label-success pull-right">В разработке</span></a></li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->