{% extends 'main.layout.html.twig' %}

{% block title %}Просмотр документа | {{ doc.name }}{{ parent() }}{% endblock %}
{% block header %}{{ doc.name }}{% endblock %}
{% block vendor_stylesheets %}
    {{ parent() }}
{% endblock %}
{% block vendor_javascripts %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <div class="">
        <ol class="breadcrumb" style="margin: 0; padding: 0;">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ path('finance_exp_list') }}">Экспорт товаров</a></li>
            <li class="breadcrumb-item"><a href="{{ path('finance_exp_list') }}">Список документов</a></li>
            <li class="breadcrumb-item active">Просмотр документа</li>
        </ol>
    </div>
{% endblock %}
{% block title_right %}
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <div class="text-right">
                Статус: {{ doc.status.title }} с {{ doc.statusUpdatedAt|date('d.m.y') }}
            </div>
        </div>
    </div>
{% endblock %}

    {% block page_content %}
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    {% block x_title %}
                        <div class="x_title">
                            <h2>Документ № {{ doc.id }} от {{ doc.createdAt|date('d.m.y') }}
                                <small>Проект № {{ doc.id }} от {{ doc.createdAt|date('d.m.y') }}</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-question-circle"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu epr-action-menu" role="menu">

                                        <li><a href="#">Изменить куратора</a></li>
                                        <li><a href="#">Изменить статус</a></li>
                                        <li>
                                            <a href="#"
                                               data-action="{{ path('new') }}"
                                               data-toggle="modal"
                                               data-title="Заголовок Один"
                                               data-target=".bs-example-modal-lg"
                                            >Изменить текст</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v epr-dd-icon" ></i>
                                    </a>
                                    <ul class="dropdown-menu epr-action-menu" role="menu">

                                        <li><a href="#">Утвердить</a>
                                        </li>

                                        <li class="divider"></li>

                                        <li><a href="#">Согласовать</a>
                                        </li>
                                        <li><a href="#">Отправить на доработку</a>      </li>
                                        <li><a href="#">Отправить на доработку (малый круг)</a>      </li>
                                        <li><a href="#">Oтменить</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Журнал действий</a>
                                        </li>
                                        <li><a href="#">Печать</a>
                                        </li>
                                        <li><a href="#">Сравнение версий</a>
                                        </li>
                                        <li><a href="#">Отчеты об исполнении</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    {% endblock %}

                    <div class="x_content">

                        <!-- CONTENT DOC -->
                        <div class=" ">
                            <div class="inbox-body">
                                <div class="epr-doc-ver row">
                                    <div class="col-md-12">

                                        <a href="#"
                                           class=""
                                           data-action="{{ path('finance_exp_view_doc_ver', {'id': 1}) }}"
                                           data-toggle="modal"
                                           data-title="Версии документа"
                                           data-target=".bs-example-modal-lg"
                                        >
                                            <strong>Версия № 1*</strong> от {{ doc.createdAt|date('d.m.y') }}
                                        </a>

                                        <span class="">
                                            <a href="#" class="" ><i class="fa fa-eye"></i></a>

                                        </span>

                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="">

                                    <div class="table-responsive">

                                        <table class="table">
                                            <tbody>
                                            {% block doc_text_content %}{% endblock %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>


                            </div>

                        </div>
                        <!-- /CONTENT DOC -->

                    </div>
                </div>

                {% block extra_description %}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Дополнительное описание</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th style="width:20%">Автор документа:</th>
                                    <td>{{ doc.author.shortName }}</td>
                                </tr>
                                <tr>
                                    <th style="width:20%">Договор:</th>
                                    <td>
                                        {% if doc.contractNumber is not null and doc.contractDate is not null  %}
                                            № {{ doc.contractNumber }} от {{ doc.contractDate|date('d.m.y') }}
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:20%">Подлинник договора возвращен:</th>
                                    <td>{{ doc.isOriginalReturned ? 'Да' : 'Нет' }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                {% endblock %}

            </div>

            {% block status_process %}
                {{ render_doc_pipeline() }}
            {% endblock %}

        </div>

        <div class="clearfix"></div>

        {% block attachments %}

        <!-- ATTACHMENTS -->

        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-paperclip"></i> Приложения</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row epr-flex epr-attachments-row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 epr-attachments-col">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Ссылки на документы ЁPR</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a ><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <ul class="list-unstyled project_files">
                            <li>
                                <a href="#"><i class="fa fa-mail-forward"></i> Проект №123.mln</a>
                            </li>

                            <li>
                                <a href=""><i class="fa fa-mail-forward"></i> Проект №123423.mln</a>
                            </li>


                        </ul>


                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 epr-attachments-col">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Общие файлы</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a ><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <ul class="list-unstyled project_files">
                            <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                            </li>
                            <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                            </li>
                            <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                            </li>
                            <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                            </li>
                            <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                            </li>
                        </ul>



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 epr-attachments-col">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Договор <small>(подписанный)</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                            <li class="pull-right"><a class=""><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <ul class="list-unstyled project_files">
                            <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                            </li>
                            <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                            </li>
                            <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <!-- /ATTACHMENTS -->

        {% endblock %}

        {% block comments %}

        <!-- COMMENTS -->

        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-comments"></i> Комментарии</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        <a href="javascript:void(0)" class="user-profile " >
                            <img src="/gentelella/production/images/img.jpg" alt="">
                            Добавить запись...
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        Комментов нету

                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <div class="pull-left">
                            <div class="">
                                <a href="javascript:void(0)" class="user-profile " >
                                    <img src="/gentelella/production/images/img.jpg" alt="">
                                    Fdfgdfg
                                </a>
                            </div>

                        </div>


                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a><i class="fa fa-ellipsis-v"></i></a>
                            </li>
                        </ul>

                        <div class="clearfix"></div>


                    </div>
                    <div class="x_content">

                        Первая запись много текста Первая запись много т
                        екстаПервая запись много текстаПервая запись <br>
                        много текстаПервая запись много
                        текстаПервая запись много текстаПервая запись много текста

                        <hr>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width:20%">Предмет договора:</th>
                                <td>Поставка вакцины против ящура в Саудовскую Аравию</td>
                            </tr>
                            <tr>
                                <th>Условия поставки Инкотермс:</th>
                                <td>FCA — товар доставляется основному перевозчику заказчика к указанному в договоре терминалу отправления, экспортные пошлины уплачивает продавец</td>
                            </tr>
                            <tr>
                                <th>Срок и порядок поставки</th>
                                <td>Отгрузка в течение 14 14 календарных дней после подписания сторонами спецификации при условии поступления предоплатыОтгрузка в течение 14 календарных дней после подписания сторонами спецификации при условии поступления предоплаты</td>
                            </tr>
                            <tr>
                                <th>Информация о контрагенте:</th>
                                <td>
                                    ИНН: 190203921<br>
                                    Наименование лица: ООО «МЕРКУРИЙ УНИВЕРСАЛ»
                                </td>
                            </tr>
                            <tr>
                                <th>Цена договора:</th>
                                <td>1 608 905.00 рублей РФ</td>
                            </tr>

                            </tbody>
                        </table>

                        <hr>


                        <a href="javascript:void(0)" class="user-profile " >
                            <img src="/gentelella/production/images/img.jpg" alt="">
                            Fdfgdfg
                        </a>

                        <hr>
                        <input type="text" class="form-control" placeholder="Добавить запись...">


                    </div>
                </div>
            </div>
        </div>

            <!-- /COMMENTS -->

        {% endblock %}

        <div class="clearfix"></div>
    {% endblock %}
