<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>username</th>
                        <th>fio</th>
                        <th>phone</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ user.username }}</td>
                                <td>{{ user.fio }}</td>
                                <td>{{ user.phone }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>