
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>username</th>
                        <th>fio</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for item in repository %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.userId }}</td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>