
{% block body -%}
    <h1>Demo creation</h1>

    <div class="form_error"></div>
    <form method="POST" class="ajaxForm" action="{{path('form1')}}" >
        <div id="form_body">
            <div>Тело формы: ...</div>
            {% include 'default/form.chunk.html.twig' with {'form': form} %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{form_rest(form)}}
    </form>


{% endblock %}


{% block javascripts %}
    <script>
        //initAjaxForm2();
    </script>
{% endblock %}

{#<input type="submit" value="Create"#}
       {#class="btn btn-default pull-right" />#}

{#<form id="demo-form2" method="POST" action="{{path('form1')}}" class="form-horizontal form-label-left epr-ajax-form">#}

    {#<div class="form-group">#}
        {#<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Название <span class="required">*</span>#}
        {#</label>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<input type="text" id="first-name" name="name" required="required" class="form-control col-md-7 col-xs-12" >#}
        {#</div>#}
    {#</div>#}
    {#<div class="form-group">#}
        {#<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">ID пользователя <span class="required">*</span>#}
        {#</label>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<input type="text" id="last-name" name="userId" required="required" class="form-control col-md-7 col-xs-12">#}
        {#</div>#}
    {#</div>#}

    {#<div class="ln_solid"></div>#}
    {#<div class="form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">#}
            {#<button class="btn btn-primary" type="button">Закрыть</button>#}
            {#<button class="btn btn-primary" type="reset">Сбросить</button>#}
            {#<button type="submit" class="btn btn-success">Выполнить</button>#}
        {#</div>#}
    {#</div>#}

{#</form>#}