<div class="row" >

    <div class="col-lg-4 col-md-4">
        <div class="col-md-12">{{ form_errors(form) }}</div>
        {#<div class="bg-danger">{{ form_errors(form.name) }}</div>#}
        <div class="form-group input-group">
            {#{{ form_widget(form.name,  {'attr': {'placeholder':'Name', 'title':'Name', 'class':'form-control'}}) }}#}
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="col-md-12">{{ form_errors(form) }}</div>
        {#<div class="bg-danger">{{ form_errors(form.userId) }}</div>#}
        {#<div class="form-group input-group">#}
            {#{{ form_widget(form.userId,  {'attr': {'placeholder':'userId', 'title':'userId', 'class':'form-control'}}) }}#}
        {#</div>#}
    </div>
</div>