<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Gentelella Alela! | {% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('gentelella/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('gentelella/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('gentelella/vendors/nprogress/nprogress.css') }}" rel="stylesheet">


        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.css">

        <!-- Custom Theme Style -->
        <link href="{{ asset('gentelella/build/css/custom.min.css') }}" rel="stylesheet">

        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body class="nav-md" >
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('index') }}" class="site_title"><i class="fa fa-paper-plane"></i> <span>ЁPR 2.0</span></a>
                </div>

                <div class="clearfix"></div>


                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/gentelella/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Основной режим </span>
                            <h2>{{ app.user.username }}</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                {% else %}
                    {#<a href="{{ path('login') }}">#}
                        {#LOGIN#}
                    {#</a>#}
                {% endif %}


                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">


                        <h3>Модули</h3>
                        <ul class="nav side-menu">
                            <li class="pl-blue"><a><i class="fa fa-book"></i> Канцелярия <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ><a href="#">
                                            <span class="epr-sidebar-submenu-title">Приказы и распоряжения</span>
                                            <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href="{{ path('eor2_add') }}">Создать документ</a>
                                            </li>
                                            <li class="sub_menu">
                                                <a href="{{ path('eor2_list') }}">Список документов</a>
                                            </li>
                                            <li><a>Справочники<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#level2_1">Значение суммы для крупных сделок</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a>Отчеты<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#level2_1">Об определении поставщиков (бухгалтерия)</a>
                                                    </li>
                                                    <li class="sub_menu">
                                                        <a href="level2.html">Об определении поставщиков (44 ФЗ)</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ><a href="chartjs2.html">Поручения руководителя</a></li>
                                    <li ><a href="morisjs.html">Входящая документация</a></li>
                                    <li ><a href="echarts.html">Служебные записки</a></li>
                                    <li ><a>Реестр договоров<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href="#level2_1">Создать документ</a>
                                            </li>
                                            <li class="sub_menu">
                                                <a href="level2.html">Список документов</a>
                                            </li>
                                            <li><a>Справочники<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#level2_1">Значение суммы для крупных сделок</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a>Отчеты<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#level2_1">Об определении поставщиков (бухгалтерия)</a>
                                                    </li>
                                                    <li class="sub_menu">
                                                        <a href="level2.html">Об определении поставщиков (44 ФЗ)</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class=""><a><i class="fa fa-terminal"></i> Информатизация <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="general_elements.html">ИТ</a></li>
                                    <li><a href="media_gallery.html">Багтрекер</a></li>
                                    <li><a href="typography.html">Редактор модулей</a></li>
                                    <li><a href="icons.html">Статистика пользователей</a></li>
                                </ul>
                            </li>
                            <li class="pl-deep-orange"><a><i class="fa fa-lock"></i> Безопасность <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="tables.html">Интеграция с Орион</a></li>
                                    <li><a href="tables_dynamic.html">Пропуски(а)</a></li>
                                </ul>
                            </li>
                            <li class="pl-deep-orange"><a><i class="fa fa-gavel"></i> Юриспруденция <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="tables.html">Интеграция с Орион</a></li>
                                    <li><a href="tables_dynamic.html">Пропуски(а)</a></li>
                                </ul>
                            </li>
                            <li class="pl-light-green"><a><i class="fa fa-calculator"></i> Финансы <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="chartjs.html">Закупка товаров, работ и услуг</a></li>
                                    <li><a href="chartjs2.html">Экспорт товаров</a></li>
                                    <li><a href="morisjs.html">Заявление на платеж</a></li>
                                    <li><a href="echarts.html">Возврат обеспечения</a></li>
                                    <li><a>Реестр договоров<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href="#level2_1">Создать документ</a>
                                            </li>
                                            <li class="sub_menu">
                                                <a href="level2.html">Список документов</a>
                                            </li>
                                            <li>
                                                <a href="#level2_1">Постоянный помощник исполнителя служебной записки</a>
                                            </li>
                                            <li><a>Справочники<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#level2_1">Значение суммы для крупных сделок</a>
                                                    </li>
                                                    <li class="sub_menu">
                                                        <a href="level2.html">Постоянный помощник исполнителя служебной записки</a>
                                                    </li>
                                                    <li>
                                                        <a href="#level2_2">Level Two</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a>Отчеты<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#level2_1">Об определении поставщиков (бухгалтерия)</a>
                                                    </li>
                                                    <li class="sub_menu">
                                                        <a href="level2.html">Об определении поставщиков (44 ФЗ)</a>
                                                    </li>
                                                    <li>
                                                        <a href="#level2_2">Об определении поставщиков (44 ФЗ)</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Информация</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-share-alt"></i> Общие файлы
                                </a>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> Форум </a> </li>
                            <li><a><i class="fa fa-info-circle"></i> Справочник </a>  </li>

                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Администрирование</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-bug"></i> Журнал ошибок <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="e_commerce.html">E-commerce</a></li>
                                    <li><a href="projects.html">Projects</a></li>
                                    <li><a href="project_detail.html">Project Detail</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-windows"></i> Редактор модулей <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="page_403.html">403 Error</a></li>
                                    <li><a href="page_404.html">404 Error</a></li>
                                    <li><a href="page_500.html">500 Error</a></li>
                                    <li><a href="plain_page.html">Plain Page</a></li>
                                    <li><a href="login.html">Login Page</a></li>
                                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-sitemap"></i> Иерархия <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#level1_1">Level One</a>
                                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                                            </li>
                                            <li><a href="#level2_1">Level Two</a>
                                            </li>
                                            <li><a href="#level2_2">Level Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#level1_2">Level One</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"><i class="fa fa-bug"></i> Помощь <span class="label label-success pull-right">В разработке</span></a></li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a  href="#"
                        data-action="{{ path('bookmarks') }}"
                        data-toggle="modal"
                        data-title="Закладки"
                        data-target=".bs-example-modal-lg"
                    >
                        <span data-toggle="tooltip" data-placement="top" title="Закладки" class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    </a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <span data-toggle="tooltip" data-placement="top" title="Задачи" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" >
                        <span data-toggle="tooltip" data-placement="top" title="Файлы" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    </a>

                    <a  href="javascript:void(0)"
                        data-action="{{ path('contacts_list') }}"
                        data-toggle="modal"
                        data-title="Телефонный справочник"
                        data-target=".bs-example-modal-lg"
                    >
                        <span data-toggle="tooltip" data-placement="top" title="Телефон" class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/gentelella/production/images/img.jpg" alt="">
                                    Авситидийский И. И.
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Профиль</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-cogs pull-right"></i>
                                            Настройки
                                        </a>
                                    </li>
                                    <li><a href="javascript:;"><i class="fa fa-question-circle pull-right"></i> Помощь</a></li>
                                    <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out pull-right"></i> Выход</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">26</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        {% else %}

                            <li class="">
                                <a href="{{ path('login') }}" >Вход</a>
                            </li>

                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="epr-rc-wraper">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Plain Page</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Поиск</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Plain Page</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                Add content to the page ...<br>

                                <button class="ajaxForm"
                                        data-action="{{ path('new') }}"
                                        data-toggle="modal"
                                        data-title="Заголовок Один"
                                        data-target=".bs-example-modal-lg"
                                >ok</button> <br>


                                Add content to the page ...<br>
                                Add content to the page ...<br>
                                Add content to the page ...<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->




        <!-- modals -->
        <!-- Large modal -->

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Телефонный справочник</h4>
                    </div>
                    <div class="modal-body">
                        <div class="epr-preloader-wrapper">
                            <div class="preloader">
                                <div class="spinner-layer pl-teal">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="epr-modal-wrapper">
                            <h4>Text in a modal</h4>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- /modals -->



    </div>
</div>

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('gentelella/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('gentelella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('gentelella/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('gentelella/vendors/nprogress/nprogress.js') }}"></script>


    <!-- Custom Theme Scripts -->
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}

</body>
</html>
