{#{{ wo_op2('on_rework', 'На доработку') }}#}
{{ wo_op2('on_rework2', 'На доработку') }}
{{ wo_op2('rework', 'Доработать', 'required') }}
{{ wo_op2('sign_curator', 'Утвердить куратором', 'required') }}
{{ wo_op2('view_log', 'Журнал', 'read_only') }}
{{ wo_render_operations({doc: doc, routePrefix: 'finance_exp'}) }}