{% extends 'view.html.twig' %}

                    {% block x_title %}
                        <div class="x_title">
                            <h2>Документ № {{ doc.id }} от {{ doc.createdAt|date('d.m.y') }}
                                <small>Проект № {{ doc.id }} от {{ doc.createdAt|date('d.m.y') }}</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-question-circle"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu epr-action-menu" role="menu">

                                        <li><a href="#">Изменить куратора</a></li>
                                        <li><a href="#">Изменить статус</a></li>
                                        <li>
                                            <a href="#"
                                               data-action="{{ path('new') }}"
                                               data-toggle="modal"
                                               data-title="Заголовок Один"
                                               data-target=".bs-example-modal-lg"
                                            >Изменить текст</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v epr-dd-icon" ></i>
                                    </a>
                                    {{ include('FinanceExpBundle:Doc:operations_menu.html.twig') }}
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    {% endblock %}

{% block doc_text_content %}
    <tr>
        <th style="width:20%">Предмет договора:</th>
        <td>{{ doc.name }}</td>
    </tr>
    <tr>
        <th>Условия поставки Инкотермс:</th>
        <td>{{ doc.incoterms.name }} — {{ doc.incoterms.description }}</td>
    </tr>
    <tr>
        <th>Форма, срок и порядок оплаты</th>
        <td>{{ doc.paymentProcedure }}</td>
    </tr>
    <tr>
        <th>Срок и порядок поставки</th>
        <td>{{ doc.deliveryTime }}</td>
    </tr>
    <tr>
        <th>Информация о контрагенте:</th>
        <td>
            ИНН: {{ doc.contragent.inn }}<br>
            Наименование лица: {{ doc.contragent.name }}
        </td>
    </tr>
    {% if doc.otherConditions  is not null %}
        <tr>
            <th>Иное:</th>
            <td>{{ doc.otherConditions | raw }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Цена договора:</th>
        <td>{{ doc.price|number_format(2, '.', ' ') }} {{ doc.currency }}</td>
    </tr>
{% endblock %}