<h2 class="text-center">Нажмите "Сохранить" чтобы выполнить операцию</h2>

<div class="">{{ form_errors(form) }}</div>

<form method="POST" class="epr-ajax-form" action="{{path(action, {id: doc.id})}}" >
    <div id="form_body">
        {% include 'default/form.chunk.html.twig' with {'form': form} %}
    </div>
    {{form_rest(form)}}
</form>