{% if wo_operations()|length %}
    {%- spaceless -%}

        <ul class="dropdown-menu epr-action-menu" role="menu">

            {% if operations.required|length %}
                {% set isOperationsExist = false %}
                {% for op in operations.required if is_granted(op.name, doc) %}
                    {% set isOperationsExist = true %}
                    <li>
                        <a href="#"
                           style="font-weight: bold"
                           data-action="{{ path(op.route, {id: doc.id}) }}"
                           data-toggle="modal"
                           data-title="{{ op.title }}"
                           data-target="#modalSubmit"
                        >{{ op.title }}</a>
                    </li>
                {% else %}
                    {% set isOperationsExist = false %}
                {% endfor %}
                {% if isOperationsExist %}<li class="divider"></li>{% endif %}
            {% endif %}
            {% if operations.default|length %}
                {% set isOperationsExist = false %}
                {% for op in operations.default if is_granted(op.name, doc) %}
                    {% set isOperationsExist = true %}
                    <li>
                        <a href="#"
                           style="font-weight: bold"
                           data-action="{{ path(op.route, {id: doc.id}) }}"
                           data-toggle="modal"
                           data-title="{{ op.title }}"
                           data-target="#modalSubmit"
                        >{{ op.title }}</a>
                    </li>
                {% else %}
                    {% set isOperationsExist = false %}
                {% endfor %}
                {% if isOperationsExist %}<li class="divider"></li>{% endif %}
            {% endif %}
            {% if operations.readOnly|length %}
                {% for op in operations.readOnly %}
                    {% if is_granted(op.name, doc) %}
                        <li>
                            <a href="#"
                               data-action="{{ path(op.route, {id: doc.id}) }}"
                               data-toggle="modal"
                               data-title="{{ op.title }}"
                               data-target="#modalReadOnly"
                            >{{ op.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </ul>

    {%- endspaceless -%}
{% endif %}