<div class="clearfix"></div>

<div class="separator">
    <p class="change_link">
        <a href="#{{ alt_href }}" class="to_register"> {{ alt_text }} </a>
    </p>

    <div class="clearfix"></div>
    <br />

    <div>
        <h1>
            <a href="{{ path('index') }}" class="site_index"><i class="fa fa-paper-plane"></i> ЁPR 2.0</a>
        </h1>
        <p>©2016 СЭД ЁPR 2.0</p>
    </div>
</div>
