{% extends 'base.html.twig' %}

{% block title %}Аутентификация{{ parent() }}{% endblock %}

{% block vendor_stylesheets %}

        {{ parent() }}

        <!-- Animate.css -->
        <link href="{{ asset('gentelella/vendors/animate.css/animate.min.css') }}" rel="stylesheet">

{% endblock %}

{% block body_class %}class="login"{% endblock %}

{% block body %}
<div>
    <a class="hiddenanchor" id="signin-psw"></a>
    <a class="hiddenanchor" id="signin-crypto"></a>

    <div class="login_wrapper">
        <div class="animate form login_crypto_form">
            <section class="login_content">
                <form action="{{ path('login') }}" method="post">
                    <h1>Вход по ЭЦП</h1>

                    {# app/Resources/views/security/login.html.twig #}
                    {# ... you will probably extend your base template, like base.html.twig #}

                    {% if error %}
                        <div class="warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" name="_username" value="{{ last_username }}" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" name="_password" />
                    </div>
                    <div>
                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button class="btn btn-default submit" type="submit">Войти</button>

                    </div>

                    {{ include('security/footer.html.twig', {'alt_href': 'signin-psw', 'alt_text': 'Войти по паролю'}) }}

                </form>
            </section>
        </div>

        <div id="register" class="animate form login_psw_form">
            <section class="login_content">



                <form action="{{ path('login') }}" method="post">

                    <h1>Вход по паролю</h1>

                    {# app/Resources/views/security/login.html.twig #}
                    {# ... you will probably extend your base template, like base.html.twig #}

                    {% if error %}
                        <div class="warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" name="_username" value="{{ last_username }}" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" name="_password" />
                    </div>
                    <div>
                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button class="btn btn-default submit" type="submit">Войти</button>

                        <a class="reset_pass" href="#">Забыли пароль?</a>
                    </div>

                    {{ include('security/footer.html.twig', {'alt_href': 'signin-crypto', 'alt_text': 'Войти по ЭЦП'}) }}

                </form>

            </section>
        </div>
    </div>
</div>
{% endblock %}