{% for approver in roleApprovers %}

    <div class="epr-flex">
        <div class="col-l">
            <strong>
                <a href="#"
                       data-action="{{ path('index') }}"
                       data-toggle="modal"
                       data-title="Роль"
                       data-target="#modalReadOnly"
                >{{ approver.role.title }}</a>
            </strong>:
        </div>
        <div class="col-r m-l-5">
            <span>
                {% if approver.user is not null %}
                    {{ approver.user.shortName }} ({{ approver.updatedAt|date('d.m.y') }})
                {% else %}
                    группа (не согласовано)
                {% endif %}

            </span>

        </div>
    </div>

{% endfor %}

{% for approver in userApprovers %}

    <div class="epr-flex">
        <div class="col-l">
            <strong>{{ approver.role.title }}</strong>:
        </div>
        <div class="col-r m-l-5">
            <span>
                {% if approver.user is not null %}
                    {% if approver.result %}
                        {{ approver.user.shortName }} ({% if approver.defaultUser.id != approver.user.shortName %}<a href="#" title="ссылка на док о замещении">вместо</a> {{ approver.defaultUser.shortName }} | {% endif %}{{ approver.updatedAt|date('d.m.y') }})
                    {% else %}
                        {{ approver.user.shortName }} (не согласовано)<br>
                    {% endif %}
                {% else %}
                    {% if approver.defaultUser is not null %}
                        {{ approver.defaultUser.shortName }} (не согласовано)
                    {% else %}
                        (не согласовано)
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>

{% endfor %}