<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ход документа <small>{{ doc_progress(routeProgress) }}</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline epr-doc-progress">

                {% set isDone = true %}

                {% for node in route %}

                    <li class="{% if isDone %}done{% endif %} ">
                        <div class="block" style="margin: 0">
                            <div class="block_content">
                                <h5 class="title">
                                    <a
                                            href="#"
                                            data-action="@"
                                            data-toggle="modal"
                                            data-title="Стадия: {{ node.statusTitle }}"
                                            data-target="#modalReadOnly"
                                    >{{ node.statusTitle }}</a>
                                </h5>
                                <div class="byline">

                                    {% if node.approvers.roleType|length or node.approvers.userType|length %}
                                        {% if node.approvers.userType|length < 3 %}

                                            {% include '@DocPipeline/approvers.html.twig' with {
                                            roleApprovers: node.approvers.roleType,
                                            userApprovers: node.approvers.userType
                                            } %}

                                        {% else %}

                                            {% include '@DocPipeline/approvers.html.twig' with {
                                                roleApprovers: node.approvers.roleType,
                                                userApprovers: node.approvers.userType|slice(0, 2)
                                            } %}

                                            <span>
                                                <a href="#"
                                                   data-action="{{ path('index') }}"
                                                   data-toggle="modal"
                                                   data-title="Роль"
                                                   data-target="#modalReadOnly"
                                                >ещё +{{ node.approvers.userType|length - 2 }}</a>
                                            </span>

                                        {% endif %}

                                    {% else %}
                                        <span>не указано</span><br>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </li>

                    {% if doc.status.name == node.currStatus %}
                        {% set isDone = false %}
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
